<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>GOV.UK - The best place to find government services and information</title>

    <script type="text/javascript">
        (function () {
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var d = document, c = "appendChild", a = d.createElement("style");
                a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));
                d.getElementsByTagName("head")[0][c](a);
            }
        })();
    </script>

    <!--[if gt IE 8]><!--><link href="/assets/govuk-template.css" media="screen" rel="stylesheet" type="text/css"/><!--<![endif]-->
    <!--[if IE 6]><link href="/assets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="/assets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="/assets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link href="/assets/main.css" media="screen" rel="stylesheet" type="text/css"/>

    <link href="/assets/govuk-template-print.css" media="print" rel="stylesheet" type="text/css"/>

    <!--[if IE 8]>
    <script type="text/javascript">
        (function(){if(window.opera){return;}
            setTimeout(function(){var a=document,g,b={families:(g=
                            ["nta"]),urls:["/assets/fonts-ie8.css"]},
                    c="/assets/vendor/goog/webfont-debug.js",d="script",
                    e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
                    ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
                    .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
        })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="/assets/fonts.css" media="all" rel="stylesheet" type="text/css"/>
    <!--<![endif]-->

    <!--[if lt IE 9]>
    <script src="/assets/ie.js" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/apple-touch-icon-152x152.png">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/apple-touch-icon-120x120.png">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/apple-touch-icon-76x76.png">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-60x60.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/assets/opengraph-image.png">

</head>

<body>
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink">Skip to main content</a>
    </div>
</div>

<div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
</div>
<!--end global-cookie-message-->

<header role="banner" id="global-header" class="">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                    <img src="/assets/gov.uk_logotype_crown.png" width="35" height="31" alt=""> GOV.UK
                </a>
            </div>
        </div>
    </div>
</header>
<!--end header-->

<div id="global-header-bar"></div>
<!--end global-header-bar-->

<g:layoutBody/>

<footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
        <div class="footer-meta">
            <div class="footer-meta-inner">
                <div class="open-government-licence">
                    <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                                       rel="license">Open Government Licence</a></p>
                    <p>All content is available under the <a
                            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                            rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
                </div>
            </div>
            <div class="copyright">
                <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
            </div>
        </div>
    </div>
</footer>

<!--end footer-->

<div id="global-app-error" class="app-error hidden"></div>

<script src="/assets/govuk-template.js" type="text/javascript"></script>

</body>
</html>